.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

.DS_Store

# If you want to ignore changes to config.json use:
# git update-index --assume-unchanged data/config.json

# data/config.json

*.exclude