{
  "wifi_ssid": "",
  "wifi_password": "",
  "access_point_prefix": "",
  "access_point_password": "",
  "mqtt_server": "",
  "mqtt_port": "",
  "mqtt_username": "",
  "mqtt_password": "",
  "mqtt_topic": "",
}