#ifndef __CREDENTIALS_H__
#define __CREDENTIALS_H__

// WIFI connection
#define wifi_ssid "**********"
#define wifi_password ""**********""

#define mqtt_server "192.168.0.2"
#define mqtt_user ""**********""
#define mqtt_password ""**********""
#define mqtt_port 1883

#define OTApassword ""**********""
#define OTAport 8266

#define WIFI_AP_SSID_PWD "************"

#endif
