#ifndef __CREDENTIALS_H__
#define __CREDENTIALS_H__

#define MQTT_SERVER "0.0.0.0"
#define MQTT_USER "mqtt_user"
#define MQTT_PASSWORD "mqtt_pass"
#define MQTT_PORT 1883
#define MQTT_TOPIC "my_house/entryway/air_quality_meter"

#define OTApassword "ota_password"
#define OTAport 8266

#endif